<h2 class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</h2>

<ul>
    <li><a class="page-link" href="/iwpt21/">Home</a></li>
    <li><a class="page-link" href="/iwpt21/cfp.html">Call for participation</a> |
        <a class="page-link" href="/iwpt21/references.html">References</a></li>
    <li><a class="page-link" href="/iwpt21/task_and_evaluation.html">Task description and evaluation</a></li>
    <li><a class="page-link" href="/iwpt21/enhancements_in_treebanks.html">Enhancement types</a></li>
    <li><a class="page-link" href="/iwpt21/iwpt21_xud_eval.py">Evaluation script</a></li>
    <!--li><a class="page-link" href="/iwpt21/Results.html">Results overview (new)</a></li-->
    <li><a class="page-link" href="/iwpt21/data.html">Data</a></li>
    <!--li><a class="page-link" href="/iwpt21/submission.html">Submission format</a> |
        <a class="page-link" href="https://quest.ms.mff.cuni.cz/sharedtask/">Submission site</a></li>
    <li> <a class="page-link" href="/iwpt21/system_description_papers.html"> System Description Papers </a> </li>
<!--
   <li><a class="page-link" href="http://ufal.mff.cuni.cz/~zeman/soubory/iwpt2020-test-blind.tgz">Blind test data</a></li-->
</ul>

<h3>IMPORTANT DATES</h3>
<ul>
  <!--
  <li><span>July 9: <a href="http://www.aclweb.org/anthology/K/K17/#3000">ACL Anthology</a></span></li>
  -->
  <li><span>August 5/6: <a href="https://iwpt21.sigparse.org/">IWPT</a> at <a href="http://2021.aclweb.org/">ACL-IJCNLP 2021</a></span></li>
  <li><span>June 30: camera-ready papers</span></li>
  <li><span>June 21: Review Deadline </span></li>
  <li><span>June 6: system description papers  (provisional)</span></li>
<!--  <li><span>May 10: Announcement of results	</span></li>	 -->
  <li><span>May 22: End of evaluation phase</span></li>
  <li><span>May 1: blind test data available</span></li>
  <li><span>April 3: training data + eval script</span></li>
</ul>


<h3>CONTACT</h3>
<ul>
  <!-- MAIL IS NOT FORWARDED AND WOULD HAVE TO BE CHECKED DIRECTLY ON THE GMAIL ACCOUNT!!! li><span>Mail: <a mailto="iwptsharedtask@gmail.com">iwptsharedtask@gmail.com</a></span></li-->
  <li> <span>Mailing-list (preferred): <a href="http://sympa.inria.fr/sympa/info/iwptsharedtask">subscribe here</a></span></li>
  <li> <span>Mail: <a mailto="iwptsharedtask@gmail.com">iwptsharedtask@gmail.com</a></span></li>
<!--  <li> <span> Faq: <a href="iwpt21/faq.html">  ... </a> </span></li> -->

</ul>
