<h2 class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</h2>

<ul>
    <li><a class="page-link" href="/iwpt20/">Home</a></li>
    <li><a class="page-link" href="/iwpt20/cfp.html">Call for participation</a></li>
    <li><a class="page-link" href="/iwpt20/task_and_evaluation.html">Task description and evaluation</a></li>
    <li><a class="page-link" href="/iwpt20/enhancements_in_treebanks.html">Enhancement types</a></li>
    <li><a class="page-link" href="/iwpt20/iwpt20_xud_eval.py">Evaluation script</a></li>
    <li><a class="page-link" href="/iwpt20/Results.html">Results overview (new)</a></li>
    <li><a class="page-link" href="/iwpt20/data.html">Data</a></li>
    <li><a class="page-link" href="/iwpt20/submission.html">Submission format</a> |
        <a class="page-link" href="https://quest.ms.mff.cuni.cz/sharedtask/">Submission site</a></li>
    <li> <a class="page-link" href="/iwpt20/system_description_papers.html"> System Description Papers </a> </li>
    <li><a class="page-link" href="http://ufal.mff.cuni.cz/~zeman/soubory/iwpt2020-test-blind.tgz">Blind test data</a></li>

</ul>

<h3>IMPORTANT DATES</h3>
<ul>
  <!--
  <li><span>July 9: <a href="http://www.aclweb.org/anthology/K/K17/#3000">ACL Anthology</a></span></li>
  -->
  <li><span>July 9: <a href="https://iwpt20.sigparse.org/">IWPT</a> at <a href="http://acl2020.org/">ACL 2020</a></span></li>
  <li><span>May 27: camera-ready papers</span></li><!-- May 18 was original plan, +14 days would be June 1. -->
  <li><span>May 6: system description papers</span></li>
  <li><span>April 22: end of evaluation phase</span></li>
  <li><span>April 1: blind test data available</span></li>
  <li><span>February 5: training data + eval script</span></li>
</ul>


<h3>CONTACT</h3>
<ul>
  <!-- MAIL IS NOT FORWARDED AND WOULD HAVE TO BE CHECKED DIRECTLY ON THE GMAIL ACCOUNT!!! li><span>Mail: <a mailto="iwptsharedtask@gmail.com">iwptsharedtask@gmail.com</a></span></li-->
  <li> <span>Mailing-list (prefered): <a href="http://sympa.inria.fr/sympa/info/iwptsharedtask">  subscribe  here </a></span></li>
  <li> <span>Mail: <a mailto="iwptsharedtask@gmail.com"> iwptsharedtask@gmail.com </a></span></li>
<!--  <li> <span> Faq: <a href="iwpt20/faq.html">  ... </a> </span></li> -->

</ul>

